/**********FONTS**********/

@font-face {
    font-family: Oswald;
    font-style: normal;
    src: url(../fonts/Oswald/Oswald-Regular.woff);
}

@font-face {
    font-family: Tinos;
    font-style: normal;
    src: url(../fonts/Tinos/Tinos-Italic.woff);
}

@font-face {
    font-family: ReenieBeanie;
    font-style: normal;
    src: url(../fonts/ReenieBeanie/ReenieBeanie.woff);
}

/********** GENERAL STYLE FOR TABLE **********/

.tab{
    background-color: white;
    border: 4px solid black;
    padding: 0px !important;
    margin-top: 30px;
}
.title{
    background-color: black;
    text-align: center;
    height: 50px;
    display: flex;
}
.title h3{
    font-size: 20px;
}
h2,h3,h4{
    color: white !important;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    margin: auto !important;
    font-weight: bold;
}
.tab-content{
    padding: 15px 20px;
}
.btn-create{
    background-color: black;
    width: 30%;
    height: 40px;
    border: 3px solid black;
    margin: auto;
    display: flex;
    cursor: pointer;
    margin-bottom: 35px;
    margin-top: 30px;
}
.btn-create:hover{
    background-color: white;
    transition: 0.2s;
}
.btn-create a{
    font-family: Tinos;
    font-size: 18px;
    margin: auto;
    text-decoration: none !important;
    color: white;
    width: 100%;
    text-align: center;
}
.btn-create:hover a{
    color: black;
}
.info-line{
    font-family: Oswald;
    font-weight: normal;
    border-bottom: 3px solid #efefef;
    padding: 20px 0px;
    display: flex;
    margin-left: 0px !important;
    margin-right: 0px !important;

}
.info-line.last{
    border-bottom: 0px;
}
.info-name{
    text-align: left;
    color: black;
    font-size: 16px;
    padding-left: 30px;
    margin: auto;
    font-family: Oswald;
    font-weight: normal;
}
.btn-show{
    height: 40px;
    border: 3px solid black;
    margin: auto;
    display: flex;
    cursor: pointer;
}
.btn-show a{
    font-family: Tinos;
    font-size: 15px;
    margin: auto;
    text-decoration: none !important;
    color: black;
    width: 100%;
    text-align: center;
}
.btn-show:hover a{
    color: white;
}
.btn-show:hover{
    background-color: dodgerblue;
    border-color: dodgerblue ;
    transition: 0.2s;
}


.btn-edit{
    height: 40px;
    border: 3px solid black;
    margin: auto;
    display: flex;
    cursor: pointer;
}
.btn-edit a{
    font-family: Tinos;
    font-size: 15px;
    margin: auto;
    text-decoration: none !important;
    color: black;
    width: 100%;
    text-align: center;
}
.btn-edit:hover a{
    color: white;
}
.btn-edit:hover{
    background-color: #FF9100;
    border-color: #FF9100 ;
    transition: 0.2s;
}

form{
    margin: auto;
}
.btn-delete{
    display: flex;
}
.btn-delete input{
    opacity: 0;
    z-index: 1;
    font-family: FontAwesome;
    width: 100%;
    text-align: center;
}
.btn-delete:after{
    content: '\f1f8';
    font-family: FontAwesome;
    margin: auto;
    position: absolute;
    color: black;
}
.btn-delete:hover:after{
    color: #FF1925;
    transition: 0.2s;
}

/************* HOMEPAGE ****************/

.center{
    display: flex !important;
    height: 100%;
}
.center #appname{
    font-family: ReenieBeanie !important;
    font-size: 10em;
    color: black;
    margin: auto;
    text-align: center;
}
.center #appname a{
    font-family: ReenieBeanie !important;
    color: black;
    margin: auto;
    font-size: 25px;
    text-decoration: none;
}

/************** WELCOME PAGE ***************/

.home-block{
    padding-top: 20px;
}
.block-task{
    height: 270px;
}
.block-task h2{
    font-size: 20px;
    padding: 10px;
}
.classWithPad{
    height: 90%;
    opacity: 0.4;
}

.classWithPad div:first-of-type{
    border: 4px solid white;
    border-radius: 0 15px 0 0;

}
#home-profil .classWithPad div:first-of-type{
    background-color: orange;
}
#home-phonebook .classWithPad div:first-of-type{
    background-color: dodgerblue;
}
#home-group .classWithPad div:first-of-type{
    background-color: firebrick;
}
#home-course .classWithPad div:first-of-type{
    background-color: mediumseagreen;
}
#home-quizz .classWithPad div:first-of-type{
    background-color: hotpink;
}
#home-create-account .classWithPad div:first-of-type{
    background-color: mediumpurple;
}
#home-class .classWithPad div:first-of-type{
    background-color: silver;
}

.classWithPad div:last-of-type{
    border: 4px solid white;
    border-top: 0;
    height: 200px;
    display: flex;
    /*cursor: pointer;*/
}
#home-profil .classWithPad div:last-of-type{
    background-color: orange;
}
#home-phonebook .classWithPad div:last-of-type{
    background-color: dodgerblue;
}
#home-group .classWithPad div:last-of-type{
    background-color: firebrick;
}
#home-course .classWithPad div:last-of-type{
    background-color: mediumseagreen;
}
#home-quizz .classWithPad div:last-of-type{
    background-color: hotpink;
}
#home-create-account .classWithPad div:last-of-type{
    background-color: mediumpurple;
}
#home-class .classWithPad div:last-of-type{
    background-color: silver;
}

.classWithPad div:last-of-type i{
    margin: auto;
    color: white;
    font-size: 7em;
}
.classWithPad .home-effect{
    opacity: 0;
    position: absolute;
    bottom: 19%;
    left: 39%;
    width: 22%;
    height: 30px;
    border: 3px solid white;
    margin: auto;
    text-align: center;
    color: white;
    font-family: Tinos;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 25px;
}
.classWithPad:hover{
    opacity: 1;
    transition: 0.5s;
}
.classWithPad:hover .home-effect{
    opacity: 1;
    transition: 0.5s;
}
.classWithPad .home-effect:hover{
    background-color: white;
}
#home-profil .classWithPad .home-effect:hover{
    color: orange;
}
#home-phonebook .classWithPad .home-effect:hover{
    color: dodgerblue;
}
#home-group .classWithPad .home-effect:hover{
    color: firebrick;
}
#home-course .classWithPad .home-effect:hover{
    color: mediumseagreen;
}
#home-quizz .classWithPad .home-effect:hover{
    color: hotpink;
}
#home-create-account .classWithPad .home-effect:hover{
    color: mediumpurple;
}
#home-class .classWithPad .home-effect:hover{
    color: silver;
}
.classWithPad:hover i{
    padding-bottom: 60px;
    /*position: absolute;*/
    /*animation: bounce 0.6s alternate ease infinite;
    transition: 0.3s;*/
    transition: 0.5s;
}
@keyframes bounce{
    from {left: 36%;top: 36.5%;}
    /* 50%  {top: 60px;}*/
    to   {left: 40%;top: 36.5%;}
}

/************* LOGGIN PAGE ****************/

.connexion.tab{
    display: flex !important;
    height: 100%;
    border: 0px;
    background-color: #f5f8fa;
    margin-top: 0px;
}
.connexion #connexion-table{
    margin: auto;
    border: 4px solid black;
    background-color: white;
    width: 50%;
}
.connexion #connexion-table .form-group{
    text-align: center;
}
.connexion #connexion-table .form-group label{
    font-family: Oswald;
    font-weight: normal;
    color: black;
    margin-bottom: 5px;
}
.connexion #connexion-table .btn-create{
    width: 65%;
    font-size: 16px;
    font-family: Tinos;
    color: white;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
}
.connexion #connexion-table .btn-create:hover{
    color: black;
}
.connexion #connexion-table .btn-show{
    color: white;
    width: 65%;
    background-color: red;
    border-color: red;
}
.connexion #connexion-table .btn-show a{
    padding: 0;
    font-size: 16px;
    color: white;
}
.connexion #connexion-table .btn-show:hover{
    background-color: white;
    border-color: black;
}
.connexion #connexion-table .btn-show:hover a{
    color: black;
}

/************ REGISTRATION PAGE *************/

.registration #registration-table .form-group{
    text-align: center;
}
.registration #registration-table .form-group input{
    width: 60%;
    margin: auto;
}
.registration #registration-table .form-group select{
    width: 60%;
    margin: auto;
}
.registration #registration-table .form-group label{
    font-family: Oswald;
    font-weight: normal;
    color: black;
    margin-bottom: 5px;
}
.registration #registration-table .btn-create{
    width: 35%;
    font-size: 16px;
    font-family: Tinos;
    color: white;
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
}
.registration #registration-table .btn-create:hover{
    color: black;
}
.registration #registration-table .btn-show{
    color: white;
    width: 65%;
    background-color: red;
    border-color: red;
}
.registration #registration-table .btn-show a{
    padding: 0;
    font-size: 16px;
    color: white;
}
.registration #registration-table .btn-show:hover{
    background-color: white;
    border-color: black;
}
.registration #registration-table .btn-show:hover a{
    color: black;
}

/************* CREATE QUIZZ PAGE ****************/

.quizz-create{
    text-align: center;
}
.quizz-create label{
    font-family: Oswald;
    font-weight: normal;
    color: black;
    font-size: 15px;
    display: block;
}
.quizz-create input[type=submit]{
    width: 100%;
    font-family: Tinos;
    color: white;
    background:none;
    border:none;
    font-size: 18px;
}
.quizz-create input[type=submit]:hover{
    color: black;
}
.quizz-create input[type=text]{
    margin-bottom: 20px;
    width: 30%;
}
.quizz-create form select{
    width: 50%;
    margin: auto;
}

/************ QUESTION FOR QUIZZ *************/

.show-quizz{
    margin-bottom: 20px;
}
.show-quizz .info-name{
    padding-left: 0px;
}
.show-question .btn-create:first-of-type{
    width: 50%;
}
.show-question .btn-show{
    margin-right: 5px;
}
.show-question form{
    width: 10%;
}

/********** CREATE/MODIFY QUESTION ***********/

.question-create{
    text-align: center;
}
.question-create label{
    font-family: Oswald;
    color: black;
    font-weight: normal;
    font-size: 15px;
    display: block;
}
.question-create input[type=submit]{
    width: 100%;
    font-family: Tinos;
    color: white;
    background:none;
    border:none;
    font-size: 18px;
}
.question-create input[type=submit]:hover{
    color: black;
}

/************ ANSWER FOR QUIZZ *************/

.show-question{
    margin-bottom: 20px;
}
.show-question .info-name{
    padding-left: 0px;
}
.show-answer .btn-create:first-of-type{
    width: 50%;
}
.show-answer .btn-show{
    margin-right: 5px;
}
.show-answer .btn-edit{

}
.show-answer form{
    width: 10%;
}
.show-answer .right{
    color: green;
}
.show-answer .wrong{
    color: red;
}
/********** CREATE/MODIFY ANSWER ***********/

.answer-create{
    text-align: center;
}
.answer-create label{
    font-family: Oswald;
    font-weight: normal;
    color: black;
    font-size: 15px;
    display: block;
}
.answer-create input[type=submit]{
    width: 100%;
    font-family: Tinos;
    color: white;
    background:none;
    border:none;
    font-size: 18px;
}
.answer-create input[type=submit]:hover{
    color: black;
}

/************* CREATE MODULE PAGE ****************/

.module-create{
    text-align: center;
}
.module-create input{
    margin-bottom: 15px;
}
.module-create label{
    font-family: Oswald;
    color: black;
    font-size: 15px;
    font-weight: normal;
    display: block;
}
.module-create #image_url{
    display: inline;
}
.module-create input[type=submit]{
    width: 100%;
    font-family: Tinos;
    color: white;
    background:none;
    border:none;
    font-size: 18px;
    margin-bottom: 0;
}
.module-create input[type=submit]:hover{
    color: black;
}

/************ USER INFO INDEX ************/
.profil-index .tab-content{
    padding-top: 30px;
}
.profil-index .col-sm-6 div{
    margin-bottom: 5px;
}
.profil-index span:after {
    content: ' : ';
}
.profil-index .col-sm-6:last-of-type {
    border-left: 3px solid #efefef;
}
.profil-index .avatar{
    float: right;
    width: 65%;
}
.profil-index .avatar img{
    width: 90%;
}
.profil-index .right{
    color: green;
}
.profil-index .wrong{
    color: red;
}


/********** CREATE/MODIFY MODULE ***********/

.userinfo-create{
    text-align: center;
}
.userinfo-create input{
    margin-bottom: 15px;
}
.userinfo-create label{
    font-family: Oswald;
    color: black;
    font-size: 15px;
    font-weight: normal;
    display: block;
}
.userinfo-create #avatar{
    display: inline;
}
.userinfo-create input[type=submit]{
    width: 100%;
    font-family: Tinos;
    color: white;
    background:none;
    border:none;
    font-size: 18px;
    margin-bottom: 0;
}
.userinfo-create input[type=submit]:hover{
    color: black;
}

/************ GROUPS INDEX ************/

.group-index{
    margin-bottom: 20px;
}
.group-index .info-name{
    padding-left: 15px;
}
.group-index .btn-create:first-of-type{
    width: 40%;
}
.group-index .btn-show{
    margin-right: 5px;
}
.group-index form{
    width: 8%;
}
.group-index .info-line:last-of-type{
    border-bottom: 0px;
}

/************ GROUPS EDIT NAME ************/

.group-edit{
    text-align: center;
}
.group-edit .tab-content{
    padding-top: 25px;
}
.group-edit input{
    margin-bottom: 15px;
}
.group-edit label{
    font-family: Oswald;
    color: black;
    font-size: 15px;
    font-weight: normal;
    display: block;
    padding-bottom: 5px;
}
.group-edit input[type=submit]{
    width: 100%;
    font-family: Tinos;
    color: white;
    background:none;
    border:none;
    font-size: 18px;
    margin-bottom: 0;
}
.group-edit input[type=submit]:hover{
    color: black;
}
.group-edit .btn-create{
    margin-bottom: 25px;
}

/************ GROUP EDIT MEMBERS *************/

.group-edit-members .group-name{
    text-align: center;
    margin-bottom: 35px;
}
.group-edit-members span{
    font-family: Oswald;
    color: black;
    font-size: 15px;
}
.group-edit-members h4{
    color: black !important;
    font-size: 15px;
    padding-bottom: 30px;
}
.group-edit-members .members{
    text-align: center;
    border-right: 3px solid #efefef;
}
.group-edit-members .members-add{
    text-align: center;
}
.group-edit-members .btn-create{
    width: 65%;
    font-size: 16px;
    font-family: Tinos;
    color: white;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: black;
}
.group-edit-members .btn-create:hover{
    color: black;
}
.group-edit-members .members-add form select{
    width: 75%;
    margin: auto;
    margin-bottom: 25px;
}
.group-edit-members .members-add input[type=submit]{
    width: 100%;
    font-family: Tinos;
    color: white;
    background:none;
    border:none;
    font-size: 18px;
}
.group-edit-members .members-add input[type=submit]:hover{
    color: black;
}

.group-edit-members .members .member-info{
    display: inline-block;
}
.group-edit-members .members form{
    display: inline-block;
    width: 1;
}
.group-edit-members .members form input{
    margin-left: 13px;
}
.group-edit-members .members .btn-delete:after{
    content: "\f00d";
    padding-top: 2px;
    padding-left: 15px;
    color: red;
}

/*************** CHATBOX ****************/

.btn-chatblock{
    width: 30px;
    height: 30px;
    border: 4px solid #828181;
    background-color: white;
    position: fixed;
    bottom: 25px;
    right: 25px;
    text-align: center;
    cursor: pointer;
}
.btn-chatblock:before{
    content:'\f086';
    font-family: FontAwesome;
    color: #828181;
}
.chatblock{
    background-color: #828181;
    width: 250px;
    position: fixed;
    right: 55px;
    bottom: 25px;
    height: 425px;
    max-height: 425px;
}
.chatblock form{
    margin-left: -14px;
    bottom: 5px;
    position: absolute;
    text-align: center;
}
.chatblock form #message{
    width: 239px;
    height: 35px;
}
.chatblock #chatbox{
    background-color: white;
    margin: 5px;
    padding: 10px;
    height: 325px;
    overflow-y: auto;
}
.chatblock input[type=submit]{
    margin-top: 12px ;
    margin-bottom: 7px;
}
.chatblock .message-box{
    background-color: #ece9e9;
    border: 1px solid #a2a8ad;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
}
.chatblock .username{
    margin: 0;
    font-style: italic;
    text-decoration: underline;
}
.chatblock.username:after{
    content: ' :';
}
